/*
*	Prediction League v0.1
*	Copyright of Darren Williams 2015
*
*
*
*
*/

/*
*	Regular values
*	Orange - rgba(253,181,21,0.6)
*
*
*
*/

body {
  padding-top: 50px;
}

h1{
	color:#fff;
}

.navbar-fixed-top{
	border:0;
	background:#eee;
}

.navbar-brand img{
	width:30px;
	float:left;
	margin:10px 10px 10px 0;
}

#jumbo{
	width:100%;
	height:400px;
	padding-top:80px;
	background:rgba(253,181,21,0.6);
	margin-bottom:30px;
}

.center{
	text-align: center;
}

.btn{
	background-color:#ffb510;
	border:none;
}

.navbar{
	border-color:transparent;
}

.titlebar{
	width:100%;
	height: 80px;
	background:rgba(253,181,21,0.6);
}

/* Form Style */

.formwrap{
	display: block;
}

form input{
	background:#e1e1e1;
	padding:10px 20px;
	margin:20px 0 0 0 ;
	border:none;
	display: block;
}

form .submit{
	margin:20px 0 0 0;
	background:#555;
	color:#fff;
}

form .submit:hover{
	background:#ccc;
	color:#555;
}

form input:focus{
	border:#ffb510;
	outline:2px solid #ffb510;
}

.main{
	margin-top:30px;
}

/*footer*/

footer{
	width: 100%;
	height: 100px;
	background:#e1e1e1;
	margin-top: 50px;
}