/*
*	Prediction League v0.1
*	Copyright of Darren Williams 2015
*
*
*
*
*/

/*
*	Regular values
*	Orange - rgba(253,181,21,0.6)
*
*
*
*/

body {
  padding-top: 50px;
}

h1{
	color:#fff;
}

p{

}

.center{
	text-align: center;
}

.btn{
	background-color:#ffb510;
	border:none;
}

.btn-default{
	color:#555;
}

.main{
	margin-top:30px;
	min-height:600px;
}

/*Navigation Style*/

.navbar{
	border-color:transparent;
}

.navbar-fixed-top{
	border:0;
	background:#eee;
}

.navbar-brand img{
	width:30px;
	float:left;
	margin:10px 10px 10px 0;
}

#jumbo{
	width:100%;
	height:400px;
	padding-top:80px;
	text-align:center;
	/*background-image:url('../img/jumbo.jpg');*/
	background-color:rgba(253,181,21,0.6);
	margin-bottom:30px;
}

#jumbo h1{
	
}

#jumbo p{
	color:#555;
}

.titlebar{
	width:100%;
	height: 80px;
	background:rgba(253,181,21,0.6);
}

/* Form Style */

form{
	
}

form input{
	background:#e1e1e1;
	padding:10px 20px;
	margin:20px 0 0 0 ;
	border:none;
	display: block;
	width:300px;
}

form .submit{
	margin:20px 0 0 0;
	background:#555;
	color:#fff;
	width:100px;
}

form .submit:hover{
	background:#ccc;
	color:#555;
}

form input:focus{
	border:#ffb510;
	outline:2px solid #ffb510;
}

form .glyphicon{
	display:none;
}

/*Table Style*/

table.mainTable{
	width:100%;
    border-spacing: 5px;
    border-collapse: separate;
}

table.mainTable th{
	background:rgba(253,181,21,0.6);
	padding:3px;
	text-align:center;
	color:#555;
	width:5%;
}

table.mainTable th.name,
table.mainTable tf.name,
table.mainTable td.name{
	width:30%;
}

table.mainTable td{
	background:#e1e1e1;
	margin:2px;
	padding:3px;
	text-align:center;
	color:#555;
	width:5%;
}

table.mainTable tbody td:hover{
	opacity:0.8;
}

table.mainTable tfoot td{
	background:#555;
	margin:2px;
	padding:10px;
	text-align:center;
	color:#555;
	width:5%;
}

/*footer Style*/

footer{
	width: 100%;
	height: 100px;
	background:#e1e1e1;
	margin-top: 50px;
	bottom:0;
}

footer p.right{
	float:right;
	margin:10px;
}